# Compiled binaries
orbic_fw_c/orbic_app
*.exe
*.o
*.a

# Python cache
__pycache__/
*.pyc
*.pyo

# Large tool archives
*.zip
gcc/
node/
platform-tools/
rayhunter/
rustup-init.exe

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
/gcc_win

# SSL Keys & Certificates (Generated locally)
*.der
*.crt
*.key
*.pem
